{{log model}}
<h4>{{ model.name }}</h4>

<img src="/images/{{ model.image }}" alt="{{ model.name }}">
<p>{{ model.rating }}</p>
<p>{{ model.description }}</p>
<p>{{#link-to 'item.nutration'}} Nutration {{/link-to}}</p>
