{{!-- {{log model}} --}}

Who's Haungry?

<ul class="item-container">
    {{# each model as | item |}}
    <li class="menu-item">
        <h4>{{ item.name }}</h4>
            <img src="/images/{{ item.image }}" alt="{{ item.name }}">
            <p>
                {{!-- {{#link-to 'item' item.id}} Details {{/link-to}} --}}
                <LinkTo @route='item' @model={{item.id}}>Details</LinkTo>
            </p>
    </li>
    {{/each}}
</ul>

{{outlet}}
